<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.co.igns.framework.comm.dao.postgre.TokenDao">
            
    <select id="findBykey" parameterType="java.lang.String" 
    					resultType="java.lang.String">
        select value
        from tb_refresh_token a 
        where a.key = #{key}
    </select>
    
    <select id="getTokenExpirationDt" parameterType="java.lang.String" 
    					resultType="java.sql.Date">
        select expiration_dt
        from tb_refresh_token a 
        where a.value = #{refreshToken}
    </select>
    
    <select id="checkfreshToken" parameterType="kr.co.igns.framework.comm.model.TokenVO" 
    					resultType="java.lang.Integer">
        select count(*)
        from tb_refresh_token a 
        where a.key = #{key}
    </select>
    
    <insert id="createRefreshToken" parameterType="kr.co.igns.framework.comm.model.TokenVO" useGeneratedKeys="false">
		INSERT INTO tb_refresh_token
			( key
			  , value
			  , insert_dt
			  , expiration_dt
			)
		VALUES 
			( #{key}
			  , #{value}
			  , NOW()
			  , #{expirationDt}
			)
	</insert>
	
	<update id="updateRefreshToken" parameterType="kr.co.igns.framework.comm.model.TokenVO" useGeneratedKeys="false">
	UPDATE tb_refresh_token
	   SET value      	= #{value},
	   	   insert_dt		= NOW(),
	   	   expiration_dt	= #{expirationDt}
	 WHERE key    = #{key}
	</update>
	
    
    <delete id="deleteRefreshToken" parameterType="kr.co.igns.framework.comm.model.TokenVO">
		DELETE FROM tb_refresh_token
	     WHERE key	= #{key}
	       AND value    = #{value}
	</delete>
    
    <delete id="deleteExpirationToken" >
    	<![CDATA[
		DELETE FROM tb_refresh_token
	    WHERE expiration_dt < now()
    	]]>
	</delete>
	
</mapper>