<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.co.igns.iotMonitoring.dao.postgre.DataDisplayFormatDAO">

    <select id="AllDataDisplayFormat" 
                        parameterType ="kr.co.igns.iotMonitoring.model.DataDispFormatSearchDTO"
  						resultType="kr.co.igns.iotMonitoring.model.DataDispFormatVO">
		SELECT  disp_gubn, 
				disp_gubn_code, 
				display_col, 
				display_col_nm, 
				description, 
				use_yn, 
				insert_dt, 
				insert_id, 
				update_dt, 
				update_id,
				fieldtype,
				format,
				alignment,
				width,
				max,
				required,
				fixed,
				display_order			
		FROM tb_device_history_format 
		<if test='dispGubn != null and !dispGubn.equals("")'>
		where upper(disp_gubn) = #{dispGubn}
		</if>
		<if test='dispGubnCode != null and !dispGubnCode.equals("")'>
		and  upper(disp_gubn_code) =#{dispGubnCode}
		</if>
		order by display_order, display_col_nm

    </select>
    
      <insert id="insertDisplayFormat" parameterType="kr.co.igns.iotMonitoring.model.DataDispFormatVO" useGeneratedKeys="false">
      INSERT INTO tb_device_history_format
		(disp_gubn, 
		 disp_gubn_code, 
		 display_col, 
		 display_col_nm, 
	 	 description, 
		 use_yn, 
		 fieldtype, 
		 format, 
		 alignment, 
		 width, 
		 max, 
		 required, 
		 fixed, 
		 display_order,
		 insert_dt, 
		 insert_id)
		 VALUES(
		 #{dispGubn},
	     #{dispGubnCode},
		 #{displayCol}, 
		 #{displayColNm},
		 #{description},
		 #{useYN},
		 #{fieldtype},
		 #{format},
		 #{alignment},
	 	 #{width},
		 #{max}, 
		 #{required}, 
		 #{fixed},
		 #{displayOrder},
		 now(),
		 '')
      </insert>
      
      
     <update id="updateDisplayFormat" parameterType="kr.co.igns.iotMonitoring.model.DataDispFormatVO" useGeneratedKeys="false">
      	UPDATE tb_device_history_format
        SET display_col_nm  = #{displayColNm},
	        description =  #{description},
	        use_yn = #{useYN},
	        fieldtype = #{fieldtype},
	        format= #{format},
	        alignment= #{alignment},
	        width = #{width},
	        max = #{max}, 
	        required = #{required}, 
	        fixed = #{fixed},
	        display_order = #{displayOrder},
	        update_dt = now(),
	        update_id = #{updateId}
        WHERE upper(disp_gubn) = #{dispGubn}
        AND upper(disp_gubn_code)= #{dispGubnCode}
        AND upper(display_col)= #{displayCol}

      	</update>
      	
     <delete id="deleteDisplayFormat" parameterType="kr.co.igns.iotMonitoring.model.DataDispFormatVO">
     
       DELETE FROM tb_device_history_format
       WHERE upper(disp_gubn) = #{dispGubn}
        AND upper(disp_gubn_code)= #{dispGubnCode}
        AND upper(display_col)= #{displayCol}
        
     </delete>
   </mapper> 